{% autoescape off %}
<body>
<p>Hi {{ user.username }},</p>
<p>You requested a password reset for your account. Please follow this link to set a new password:</p>
<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
        {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
    </a>
</p>
<p>If you didn't request a password reset, please ignore this email.</p>
<p>Thanks,</p>
<p>The Our Team</p>
{% endautoescape %}

<!--
user.username — ім’я користувача, який запросив скидання паролю;
protocol — протокол (наприклад, "http" або "https"), який використовується в URL-адресі сторінки скидання паролю;
domain — домен вебсайту;
uid — закодоване в base64 представлення ідентифікатора користувача;
token — токен скидання паролю, який було згенеровано для користувача;user.username — ім’я користувача, який запросив скидання паролю;
-->